<style>
    #image404 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/images/404.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div id="image404"></div>